<div class="container">
  <p></p>
  <ul>
    <li>
      <a routerLink="/home" class="active" id="#homehroute">Home</a>
    </li>
    <li>
      <a routerLink="/search" id="#searchroute">Search</a>
    </li>
    <li>
      <a routerLink="/favourite" id="#favouriteroute">Favourite</a>
    </li>
  </ul>

  <p></p>
  <p></p>

  <div class="panel panel-primary">
    <div class="panel-heading">
      Restaurants Near You</div>
    <div class="panel-body">
      <ul class='card-deck row' *ngIf='restaurant && restaurant.length'>

        <li *ngFor='let res of restaurant' class="col-xs-12 col-sm-6 col-md-4  col-lg-4">
          <div style="padding:2px">
            <div class="card card-cascade">
              <a (click)='goToRestDetails(resId.value)'>
                <img class="img-fluid" src="{{ res.restaurant.featured_image }}" width="100%" height="175px" alt="">
              </a>
              <div class="card-body text-center">
                <a (click)='goToRestDetails(resId.value)'>
                  <h4 class="card-title restaurant-name">
                    <b>{{ res.restaurant.name }}</b>
                  </h4>
                  <h4 class="card-text restaurant-cuisine">{{ res.restaurant.cuisines }}</h4>
                  <h5 class="card-text restaurant-address">{{ res.restaurant.location.address }}</h5>
                  <h6 class="card-text restaurant-rating">Rating:{{ res.restaurant.user_rating.aggregate_rating}}</h6>
                  <h6 class="card-text restaurant-average_cost_for_two">Cost For Two:{{ res.restaurant.average_cost_for_two}}{{
                    res.restaurant.currency}}
                  </h6>
                </a>
                <input type="hidden" [value]="res.restaurant.id" #resId/>
                <p *ngIf="res.restaurant.fav">
                  <button class="btn btn-danger unfavourite" style="width:100%" (click)='removeFavourites(resId.value)'>Remove
                    from Favourites</button>
                </p>
                <p *ngIf="!res.restaurant.fav">
                  <button class="btn btn-primary favourite" style="width:100%" (click)='addFavourites(resId.value)'>Add to
                    Favourites
                  </button>
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
