<div class="container">
  <p></p>
  <ul>
    <li>
      <a routerLink="/home" id="#homehroute">Home</a>
    </li>
    <li>
      <a routerLink="/search" id="#searchroute">Search</a>
    </li>
    <li>
      <a routerLink="/favourite" class="active" id="#favouriteroute">Favourite</a>
    </li>
  </ul>

  <p></p>
  <p></p>

  <div class="cardtable" *ngIf='favourites && favourites.length'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        Your Favourite Restaurants </div>
      <div class="panel-body">


        <ul class="card-deck row">
          <li *ngFor='let res of favourites' class="col-xs-12 col-sm-6 col-md-4  col-lg-4">
            <div class="card card-cascade">
              <!--Card image-->
              <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <a (click)='goToRestDetails(resId.value)'>
                  <img class="img-fluid" src="{{res.imageURL}}" width="100%" height="175px" alt="">
                </a>
              </div>
              <!--/.Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                  <a (click)='goToRestDetails(resId.value)'>
                <!--Title-->
                <h4 class="card-title restaurant-name">
                  {{ res.name }}
                </h4>
                <h4 class="card-text restaurant-description">{{ res.descriptions }}</h4>
                <h5 class="card-text restaurant-address">{{ res.address}}</h5>
                <h6 class="card-text restaurant-rating">Rating:{{ res.ratings}} </h6>
                <h6 class="card-text restaurant-vote">Votes:{{ res.votes}} </h6>
                <h6 class="card-text restaurant-COT">Cost For Two:{{ res.costOfTwo}}{{ res.currency}}</h6>

              </a>
                <input type="hidden" [value]="res.id" #resId/>
                <p>
                  <button class="btn btn-danger unfavourite" style="width:100%" (click)='removeFavourites(resId.value)'>Remove from Favourites</button>
                </p>
              </div>
              <!--/.Card content-->
            </div>

          </li>
        </ul>

      </div>
    </div>
  </div>


</div>
<!--
<div style="padding:2px">
    <div class="card card-cascade">
      <div class="view overlay hm-white-slight">
        <a (click)='goToRestDetails(resId.value)'>
          <img class="img-fluid" src="{{res.imageURL}}" style="width: 290px">
        </a>
      </div>
      <div class="card-body text-center">
        <a (click)='goToRestDetails(resId.value)'>
          <h4 class="card-title restaurant-name">
            <b>{{ res.name }}</b>
          </h4>
          <h4 class="card-text restaurant-description">{{ res.descriptions }}</h4>
          <h5 class="card-text restaurant-address">{{ res.address}}</h5>
          <h6 class="card-text restaurant-rating">Rating:{{ res.ratings}} </h6>
          <h6 class="card-text restaurant-vote">Votes:{{ res.votes}} </h6>
          <h6 class="card-text restaurant-COT">Cost For Two:{{ res.costOfTwo}}{{ res.currency}}</h6>
          <input type="hidden" [value]="res.id" #resId/>
        </a>
        <p>
          <button class="btn btn-danger unfavourite" style="width:100%" (click)='removeFavourites(resId.value)'>Remove from Favourites</button>
        </p>
      </div>
    </div>
  </div>-->